<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
    <title>标签管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>
<body>
    <!-- 导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header">管理后台</h2>
                <a href="#" th:href="@{/admin/blog}" class="item m-mobile"><i class="home icon"></i>博客</a>
                <a href="#"  th:href="@{/admin/types}" class=" item m-mobile"><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tag}"  class="active item m-mobile"><i class="tag icon"></i>便签</a>
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://s1.ax1x.com/2020/05/28/teDAGF.jpg" th:src="@{${session.user.avatar}}" alt="" class="ui avatar image">
                            <span th:text="${session.user.nickname}">林伟彬</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/admin/loginout" class="item">注销</a>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/tag/input}" class="item">新增</a>
                <a href="#" th:href="@{/admin/tag}" class="teal active item">列表</a>
            </div>
        </div>
    </div>
    <!-- 中间内容-->
    <div class="m-padded-tb-large m-container">
        <div class="ui container">
            <div class="ui success  message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示</div>
                <p th:text="${message}">操作成功</p>
            </div>
            <table class="ui table">
                <thead>
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tag,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${tag.name}">aaaaaa</td>
                        <td>
                            <a href="#"  th:href="@{/admin/tag/{id}/input(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/tag/{id}/delete(id=${tag.id})}" class="ui mini red basic  button">删除</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <th colspan="6" >
                        <div class="ui mini pagination menu">
                            <a th:href="@{/admin/tag(page=${page.number}-1)}"   class="item">上一页</a>
                            <a th:href="@{/admin/tag(page=${page.number}+1)}"  th:unless="${page.last}" class="item">下一页</a>
                        </div>
                        <a href="#"  th:href="@{/admin/tag/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tfoot>
            </table>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- 底部footer-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui  inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:linwb0924@163.com</a>
                        <a href="#" class="item">QQ:345504450</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Linweibin</h4>
                    <p class="m-text-thin m-text-spaced">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人一些帮助与启发</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright @ 2020 - 2021 Linweibin Designed by Linweibin</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>